<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Website</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <p>About the Website</p>
        <p>Please go to /user to see all user list</p>
        <p>Please go to /user/new to add new user to list</p>
        <p>Please go to /user/user_id/edit/ to edit user</p>
        <p>Please go to /user/user_id/remove/ to delete user</p>
      </div>

    </div>


  </body>
</html>
